# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/www

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# iOS
ios/
Pods/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android
android/
.gradle/
build/
*.iml
local.properties
.idea/
.gradle
/captures
.externalNativeBuild
.cxx

# Capacitor
capacitor.config.json
ios/App/
android/app/

# Optional eslint cache
.eslintcache
